 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
 }
 #img{
    height: 400px;
    width: 500px;
 }
 .box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #0cdbd1;
    border-radius: 15px;
    box-shadow: #000;
 }
 .container{
    width: 100%;
    display: flex;
    justify-content: center;
 }

 .btn{
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 15px 32px;
    font-size: 24px;
    margin: 7px 11px;
    border-radius: 25px;
    background-image: linear-gradient(#4cc1b7,#fff);
 } 